@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  letter-spacing: 1px;
  padding: 24px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
  padding: 24px 0;
  padding; 1.5rem 0;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#breadcrumb {
    list-style: none;
    font-size: 16px;
    font-size: 1rem;
}

@media screen and (min-width : 1000px) {

  #breadcrumb {
      margin: 0 0 8px 0;
      margin: 0 0 0.5rem 0;
      background: #eee;
      width: calc(50% - 40px);
      line-height: 1.5;
  }

}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 400px;
  height: 25rem;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  padding: 16px 0;
  padding: 1rem 0;
  background-color: #3397DB;
  text-align: center;
}

.filter-options h2 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  height: 35px;
  height: 2.1875rem;
  margin: 10px;
  margin: 0.625rem;
  padding: 0 10px;
  padding: 0 0.625rem;
  width: 200px;
  width: 12.5rem;
}

@media screen and (max-width : 680px) {
  .filter-options label {
    display: block;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  margin: 0;
  padding: 32px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list div {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  padding: 0 30px 25px;
  padding: 0 1.875rem 1.5625rem;
  margin: 8px;
  margin: 0.5rem;
  text-align: left;
  width: 250px;
  width: 15.625rem;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  width: 100%;
}
#restaurants-list h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  margin: 1.25rem 0 0.625rem;
  text-transform: uppercase;
  text-align: center;
}

#restaurants-list div a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 16px 0 0;
  margin: 1rem 0 0;
  padding: 8px 30px 10px;
  padding: 0.5rem 1.875rem 0.625rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  padding: 0.125rem 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 16px;
  font-size: 1rem;
  margin: 10px 0px;
  margin: 0.825rem 0px;
}

#restaurant-hours td {
  color: #666;
}

#reviews-container h3 {
  color: #f58500;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 16px;
  padding-top: 1rem;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 85%;
  margin: auto;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

#reviews-list li p {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  padding: 0 32px 16px 32px;
  padding: 0 2rem 1rem 2rem;
}

#reviews-list li p:first-child {
  font-weight: bold;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d4d4d4;
}

.restaurant-img {
  width: 100%;
}

@media screen and (max-width : 999px) {

  #restaurant-cuisine {
    width: 100%;
  }

  #restaurant-container {
    padding: 32px;
    padding: 2rem;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
  }

  #reviews-container {
    width: 100%;
  }
}

@media screen and (min-width : 1000px) {

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    top: 5rem;
    width: 50%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .restaurant-description, #restaurant-container table {
    width: 85%;
    margin: auto;
  }

  #restaurant-container {
    padding: 72px 0 32px 0;
    padding: 9rem 0 2rem 0;
  }

  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 50%;
  }

  #reviews-list {
    margin-bottom: 50px;
    margin-bottom: 6.25rem;
  }

}

/* ====================== Accessibility ====================== */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #252831;
  color: white;
  padding: 1rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}